# Fichiers Python compilés
*.pyc
__pycache__/

# Fichiers de configuration
instance/
.env

# Fichiers de logs
*.log

# Fichiers de cache
*.cache

# Fichiers d'environnement virtuel
venv/

attachments/
